# Laravel & PHP
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*.php

# Environment files
.env
.env.backup
.env.local
.env.*.backup

# Laravel specific
Homestead.yaml
Homestead.json
/.vagrant

# Node / npm
npm-debug.log
yarn-error.log
pnpm-debug.log
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE & system files
/.idea
/.vscode
*.swp
*.swo
*.swn
*.swm
.DS_Store
Thumbs.db

# Misc
/public/hot
/public/mix-manifest.json
/public/js/*.js.map
/public/css/*.css.map
